.page__sidebar {
	width: 20%;
	position: absolute;
	right: 0;
	top: 0;
	display: none;

	@include responseTo(md) {
		display: block;
	}
}

.popular {
	@for $i from 1 through 2 {
		&__item {
			position: relative;
			overflow: hidden;
			margin-bottom: 2rem;
			position: absolute;
			z-index: 2;
			max-height: 240px;		

			animation: slideShow 50s ease-in-out infinite;

			&:hover a {
				transform: translateY(0%);
			}
		}

		&__item:nth-of-type(#{$i}) {
			animation-delay: 25s*$i;
		}
	}

	&__link {
	    display: block;
	    @include posotion(absolute, 1);
	    color: #fff;
	    background: rgba(236, 107, 67, 0.7);
	    text-align: center;
	    font-size: .95rem;
	    font-weight: 400;
	    transition: all .27s ease-in-out;
	    transform: translateY(-100%);	    
	}

	&__icon {
		font-size: 2rem;
		display: block;
		margin-top: 40%;
		margin-bottom: 1.125rem;
		opacity: .5;
		transition: opacity .17s ease-in-out;
	}

	&__name {
    	text-transform: uppercase;
	    font-weight: 500;
	}

	&__desk {

	}
}