footer.page__footer
	.page__footer__inner
		p &nbsp; La Multiply - справочный материал для личного использования.
			br
			|&copy;
			time(datetime="2016-01-17" id="footer__date")
			|&nbsp;&mdash;&nbsp;
			a(href="http://semenchenkov.github.io/") Semenchenko O.