#preloader
    #loading-center
        #loading-center-absolute
            .object
            .object
            .object
            .object
            .object
            .object
            .object